[submodule "Pinopticon"]
	path = Pinopticon
	url = git@github.com:n1ckfg/Pinopticon
[submodule "Pinopticam"]
	path = mipicam/Pinopticam
	url = git@github.com:n1ckfg/Pinopticam
[submodule "Pinoptigrab"]
	path = webcam/Pinoptigrab
	url = git@github.com:n1ckfg/Pinoptigrab
[submodule "Pinoptisense"]
	path = realsense/Pinoptisense
	url = git@github.com:n1ckfg/Pinoptisense
[submodule "Pinoptimon"]
	path = Pinoptimon
	url = git@github.com:n1ckfg/Pinoptimon
[submodule "Pinoptipose"]
	path = skeleton/Pinoptipose
	url = git@github.com:n1ckfg/Pinoptipose
[submodule "PiXtionApps"]
	path = PiXtionApps
	url = git@github.com:n1ckfg/PiXtionApps
[submodule "PiAstraApps"]
	path = PiAstraApps
	url = git@github.com:n1ckfg/PiAstraApps
[submodule "PiVideoApps"]
	path = PiVideoApps
	url = git@github.com:n1ckfg/PiVideoApps
