[submodule "Pinopticap"]
	path = core/Pinopticap
	url = https://github.com/n1ckfg/Pinopticap
[submodule "Pinopticam"]
	path = core/Pinopticam
	url = https://github.com/n1ckfg/Pinopticam
[submodule "Pinoptigrab"]
	path = core/Pinoptigrab
	url = https://github.com/n1ckfg/Pinoptigrab
[submodule "Pinoptisense"]
	path = core/Pinoptisense
	url = https://github.com/n1ckfg/Pinoptisense
[submodule "Pinoptimon"]
	path = core/Pinoptimon
	url = https://github.com/n1ckfg/Pinoptimon
[submodule "Pinoptipose"]
	path = core/Pinoptipose
	url = https://github.com/n1ckfg/Pinoptipose
[submodule "PiXtionApps"]
	path = experimental/PiXtionApps
	url = https://github.com/n1ckfg/PiXtionApps
[submodule "PiAstraApps"]
	path = experimental/PiAstraApps
	url = https://github.com/n1ckfg/PiAstraApps
[submodule "PiVideoApps"]
	path = experimental/PiVideoApps
	url = https://github.com/n1ckfg/PiVideoApps

[submodule "tools/pi-midi-tools"]
	path = experimental/tools/pi-midi-tools
	url = https://github.com/n1ckfg/pi-midi-tools
[submodule "pd/PdPitcher"]
	path = experimental/pd/PdPitcher
	url = https://github.com/n1ckfg/PdPitcher
[submodule "tools/rpi_tensorflow_lite"]
	path = experimental/tools/rpi_tensorflow_lite
	url = https://github.com/n1ckfg/rpi_tensorflow_lite
[submodule "omx/PiStreamCam"]
	path = experimental/omx/PiStreamCam
	url = https://github.com/n1ckfg/PiStreamCam
[submodule "tools/PiDisplaceExample"]
	path = experimental/tools/PiDisplaceExample
	url = https://github.com/n1ckfg/PiDisplaceExample
[submodule "omx/PiHoleCam"]
	path = experimental/omx/PiHoleCam
	url = https://github.com/n1ckfg/PiHoleCam
[submodule "deprecated/PiMocapCam"]
	path = experimental/mipicam/PiMocapCam
	url = https://github.com/n1ckfg/PiMocapCam
[submodule "deprecated/PiMocapUnity"]
	path = experimental/server/PiMocapUnity
	url = https://github.com/n1ckfg/PiMocapUnity
[submodule "mipicam/PiDoubleCam"]
	path = experimental/mipicam/PiDoubleCam
	url = https://github.com/n1ckfg/PiDoubleCam
[submodule "mipicam/PiProjectorCam"]
	path = experimental/mipicam/PiProjectorCam
	url = https://github.com/n1ckfg/PiProjectorCam
[submodule "mipicam/PiDirCam"]
	path = experimental/mipicam/PiDirCam
	url = https://github.com/n1ckfg/PiDirCam
[submodule "experimental/tools/pinopticap_ray_test"]
	path = experimental/tools/pinopticap_ray_test
	url = https://github.com/n1ckfg/pinopticap_ray_test
